
app:
  base-url: ${BACKEND_BASE_URL:http://localhost:8088}
  frontend-url: ${FRONTEND_URL:http://localhost:3000}
  cookie:
    secure: ${COOKIE_SECURE:false}
    max-age: ${COOKIE_MAX_AGE:604800}
server:
  address: ${SERVER_ADDRESS:0.0.0.0}
  port: ${SERVER_PORT:8088}
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:484738135148-ojm214hd016n0u91nuo6n72v5i5mf4en.apps.googleusercontent.com}
            client-secret: ${GOOGLE_CLIENT_SECRET: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}
            scope:
              - email
              - profile
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
  application:
    name: blassa-backend
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:blassa_db}?stringtype=unspecified
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:ronintn}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      max-lifetime: 1800000
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:alpicinorzlt@gmail.com}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate

    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20

    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

# JWT CONFIG
application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY:8066FEE02AA39CD728CBBB12C06A5AF2EC88A515EF9CE9149F16564BEC3AFD33280053938AD15C3B2D81D81A4A6BAB06389371790EDC3F27F342FC3D628862D2E974AA36A1FE9540B299E74A402915D21E58071DD7AFFE69D039CE9C17B3597C0CF2DDE7FC95544CBD12229E7434C1E3385CC1EC888EC2AC859F88F7331FC628}
      expiration: ${JWT_EXPIRATION:86400000}

# Sentry Configuration
sentry:
  dsn: ${SENTRY_DSN:https://711c0287a9280f98a0ff3a0b61213e7c@o4510517961031680.ingest.de.sentry.io/4510517986000976}
  send-default-pii: true
  traces-sample-rate: 1.0

# Cloudinary Configuration
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME:blassa}
  api-key: ${CLOUDINARY_API_KEY:242843735143177}
  api-secret: ${CLOUDINARY_API_SECRET:RI4SeXs0QH9F0Q9d8__U5f-Xvxc}
