
app:
  base-url: http://localhost:8088
server:
  port: 8088
spring:
  application:
    name: blassa-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/blassa_db?stringtype=unspecified
    username: postgres
    password: ronintn
    driver-class-name: org.postgresql.Driver

    hikari:
      # Maximum connections to keep in the pool
      maximum-pool-size: 20
      # Minimum idle connections
      minimum-idle: 5
      # How long to wait for a connection before throwing error (30s)
      connection-timeout: 30000
      # Max lifetime of a connection (prevents memory leaks)
      max-lifetime: 1800000
  mail:
    host: smtp.gmail.com
    port: 587
    username: alpicinorzlt@gmail.com
    password: dfvs jwuo nnet qixi
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate

    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # Optimizes DB connections (prevents hanging connections)
        jdbc:
          batch_size: 20

    # Performance: Disables "Open Session In View" pattern to prevent DB connection hogging
    open-in-view: false

  # 3. DATABASE MIGRATIONS (FLYWAY)
  flyway:
    enabled: true
    # If you have existing tables, this lets Flyway start managing them without crashing
    baseline-on-migrate: true

  # 4. FILE UPLOADS (For Profile Pictures & ID Cards)
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

#JWT CONFIG
application:
  security:
    jwt:
      # This is a 256-bit HEX key. In a real prod environment, inject this via Environment Variables.
      secret-key: 8066FEE02AA39CD728CBBB12C06A5AF2EC88A515EF9CE9149F16564BEC3AFD33280053938AD15C3B2D81D81A4A6BAB06389371790EDC3F27F342FC3D628862D2E974AA36A1FE9540B299E74A402915D21E58071DD7AFFE69D039CE9C17B3597C0CF2DDE7FC95544CBD12229E7434C1E3385CC1EC888EC2AC859F88F7331FC628
      expiration: 86400000 # 24 Hours (in milliseconds)
